extends ../../shared/views/layout

block title
  | Contact Us

block content



      table.table.table-striped.table-hover
        thead
          tr
            th CreatedOn
            th Name
             th Title
            th Text
        tbody
         each post, i in data
          tr(class="info")
            td= post.createdOn
            td= post.name
             td= post.title
              td= post.text
                td
                 a(class=' btn btn-info', href='#') Edit
       a(class=' btn btn-primary', href='/message') Add New
