extends ../../shared/views/layout

block title
  | Contact Us

block content

 h5.form-signin-heading Pleae Post Your Message 
 a(class=' btn btn-primary', href='/messageList') Click here For list
 form(action='/postMessage', method='post')
      input.block(type='text', name='title', required, placeholder='title')
      input.block(type='text', name='name', required, placeholder='Full Name')
      input.block(type='email', name='email', required, placeholder='email')
      textarea.block(cols="38", rows="5" name='text', placeholder='Please write your message here')
      .button-bar

      button(type='submit' class=' btn btn-primary') Submit!
            